*{
    font-family: Roboto;
    padding:0;
    margin:0;
}

.fa-solid {
    color: #404040;
    size: 1rem;
}


.white{
    background-image: linear-gradient(to right, #ffffff , #989898a8);
    display: flex;
  }

h4{
    font-size: 2.3rem;
    font-weight: 350;
}

.title{
    font-size: 3.5rem;
    font-weight: 400;
    color: #302e2ea8;

}
.content-1{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    width: 80%;
}
.img-1{
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
    
}

button{
    background:  rgb(54, 55, 55);
    width: 300px;
    height:70px;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    margin-top: 280px;
}


.downloadResume {
    background:  rgb(54, 55, 55);
    font-weight: 400;
    font-size: large;
    color: #FFF;
    margin-top:10px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.downloadResume > a {
    margin-left: 10px;
}

.downloadResume > a > i {
    color: #FFF;
}





.brown{
    display: flex;
}
.content-2{
    background-color: #bab6b600;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
}

.content-3{
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: large;
}

.white-1{
    margin-top: 0;
    padding: 0;
    background-image: linear-gradient(to right, #ffffff , #989898a8);
}

.skills{
   padding-left: 50px;
   padding: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.icons{
    width: 15%;
    padding-left: 25px;
    margin-bottom: 50px;
    margin-right: 60px;
    justify-content: center;
    text-align: center;
    font-size: large;
}
.vertical {
    margin-left: 20%;
    border-left: 2px solid black;
    height: 400px;
    margin-bottom: 100px;
}
.Experience{
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}

.right{
    padding-left: 200px;
    padding-top: 200px;
}

.projects{
   padding-left: 50px;
   padding: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.box{
    width: 40%;
    padding: 25px 25px;
    margin-bottom: 50px;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgb(196, 196, 196);
}

.points{
    padding: 60px 40px; 
}

li{
    padding-bottom: 20px;
}

header{
    padding-left: 50px;
   padding: 50px;
   display: flex;
   justify-content:space-around;
   font-size:0.7rem;
   text-transform: lowercase;
}